<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphdracula/1.2.1/dracula.dev.js"></script>

<div id="activity-diagram-canvas" style="height: 400px; width: 100%;"></div>

<script>

  var graph, layouter, element, renderer;

  window.ActivityDiagram = {
    init: function () {
      graph = new Dracula.Graph();

      <% @issues.each do |issue| %>
        graph.addNode('<%= issue.id %>', {
          label: '<%= issue.subject[0, [15, issue.subject.length].min].strip + (issue.subject.length <= 15 ? '' : '…') %>'
        });
      <% end %>

      <% @relations.each do |relation| %>
        <% if relation.relation_type === 'blocks' %>
          graph.addEdge('<%= relation.issue_to.id %>', '<%= relation.issue_from.id %>', {
            directed: true,
            label: '<%= t 'graph_depends' %>'
          });
        <% end %>
      <% end %>

      layouter = new Dracula.Layout.Spring(graph);

      element = $('#activity-diagram-canvas');
      renderer = new Dracula.Renderer.Raphael('#activity-diagram-canvas', graph, element.width(), element.height());
    },
    redraw: function () {
      layouter.layout();
      renderer.draw();
    }
  };

  $(function () {
    ActivityDiagram.init();
    ActivityDiagram.redraw();
  });

</script>

